body {
    background-color: rgb(105, 105, 152);
    margin: 25px;
}

.title {
    text-align: center;
    font-weight: 500;
    font-family: "Helvetica", sans-serif;
    background-color: rgb(195, 188, 188);
    padding: 16px 20px;
    margin: auto 340px;
}

.recipe {
    font-size: 20px;
    text-align: center;
    background-color: rgb(195, 188, 188);
    margin: 12px 340px;
    padding: 16px;
    border: 2px;
}